<div id="quizz-score-container">Score&nbsp;<span id="quizz-score">{{ count }}/{{ total }}</span></div>
<ul id="quizz-result">
    {% for result in results %}
        <li>
            {{ result.name|e }}<br />
            {{ 'Given answer'|t }}&nbsp;<span class="{% if result.good_answer == false %}quizz-bad-answer{% endif %} quizz-answer">{{ result.qa_name|e }}</span><br />
            {{ 'Waited answer'|t }}&nbsp;<span class="quizz-answer">{{ result.qa2_name|e }}</span>
        </li>
    {% endfor %}
</ul>
